{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<br>
<br>
  <div class="input-group input-group-sm" style>
  </div>

<br><br><br><br>
  <div class="text-center">
    <h1 class="pix-sliding-headline h3 text-heading-default font-weight-bold pix-ready"><span class="slide-in-container"><span class="d-inline-block text-heading-default animated">About</span></span> <span class="slide-in-container"><span class="d-inline-block text-heading-default animated"></span></span> <span class="slide-in-container"></span> </h1>
  </div>
    <br><br>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="content">
      <section>
        <img src="static/images/about.png" style="float:left;padding:20px;" width=600 height=350">
        <article class="card" style="padding:5px;">
          <strong>
            Users trying to access the website should be easily able to navigate through the website and leave the website knowing the state of the Artificial intelligence community in South Africa. This project focused on implementing a web application that will enable users to explore and navigate the Artificial Intelligence research community in South Africa. The application will provide means for users to gauge the A.I. community by analysing data gathered from the National Research Foundation (NRF) and Google Scholar. The web application will be capable of showing trends and patterns within the community, provide easy access to information about the publications of the community, including things such as collaborations, as well as provide information about researchers and where they are based.
        </strong></article>
      </section>
  <br><br><br>
</div>
<br><br>



{% endblock %}
