{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<br>
<br>
  <div class="input-group input-group-sm" style>
  </div>

<br><br><br><br>
  <div class="text-center">
    <h1 class="pix-sliding-headline h3 text-heading-default font-weight-bold pix-ready"><span class="slide-in-container"><span class="d-inline-block text-heading-default animated">Our</span></span> <span class="slide-in-container"><span class="d-inline-block text-heading-default animated">Source</span></span> <span class="slide-in-container"></span> </h1>
  </div>
    <br><br>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="content">
      <section>
        <img src="static/images/nrflogorgb.png" style="float:left;padding:20px;" width=600 height=350">
        <article class="card" style="padding:5px;">
          <strong>
            Source: Wiki<br>
            South Africa’s National Research Foundation (NRF) is the intermediary agency between the policies and strategies of the Government of South Africa and South Africa's research institutions.
            It was established on 1 April 1999 as an autonomous statutory body in accordance with the National Research Foundation Act. Dr Fulufhelo Nelwamondo has been appointed as Chief Executive Officer of the National Research Foundation of South Africa with effect from 1 April 2021. The NRF Board is chaired by Dr Nompumelelo Obokoh
            The NRF has three main functions:
            to support research and innovation, through its agency, Research and Innovation Support and Advancement (RISA);
            to encourage an interest in science and technology through its business unit, the South African Agency for Science and Technology Advancement (SAASTA);
            to facilitate high-end research through its National Research Facilities (South African Institute for Aquatic Biodiversity; Hartebeesthoek Radio Astronomy Observatory;
        </strong></article>
      </section>
  <br><br><br>
</div>
<br><br>

<div id="content">
  <section>
    <img src="static/images/Googlescholar.png" style="float:left;padding:20px;" width=600 height=350">
    <article class="card" style="padding:5px;">
      <strong>
        Source: Wiki<br>
        Google Scholar is a freely accessible web search engine that indexes the full text or metadata of scholarly literature across an array of publishing formats and disciplines. Released in beta in November 2004, the Google Scholar index includes peer-reviewed online academic journals and books, conference papers, theses and dissertations, preprints, abstracts, technical reports, and other scholarly literature, including court opinions and patents.
    </strong></article>
  </section>
<br><br><br>
</div>

{% endblock %}
