{% extends 'base.html' %}

{% block title %} Trends And Analysis {% endblock %}

{% block body %}<br><br><br>
<h2 style="text-align: center">The A.I. research community in South Africa</h2><br><br><br>
<div class="content" style="background-color: #DDDDEE">

    <div class="row" style=" background: linear-gradient(90deg, #DDDDEE 50%, #FFFFFF 50%);">
        <span class="col" style="margin: 150px; width: 500px;">
            <h2 style="align: center;">
                Number of researchers: <br>
                &emsp;&emsp;&emsp;&emsp;&emsp;{{sum}}
            </h2>

        </span>
        <span class="col" style="margin: 150px; width: 400px;">
            <h2 style="align: center; ">
                Number of institutions: <br>
                &emsp;&emsp;&emsp;&emsp;&emsp;{{num_inst}}
            </h2>
        </span>
    </div>
    <br><br>
    <div>
        <h4 style="margin: 0px; padding: 0px; text-align: center;  background-color: #DDDDEE;"> Commumity size changes since last-update:</h4><br><br>
        <div style="text-align: center; background-color: #DDDDEE;">
            <h4>Number of New researchers <br>
                {{num_new}}<br><br>
                {% for option in new_research %}
                    <h5>{{option[3]}} {{option[2]}} {{option[1]}}</h5><br> <h6>Rating - {{option[5]}} <h6><br>
                    <h6>{{option[8]}}</h6><br>
                {% endfor %}
            </h4>
        </div>
    </div>
    <br><br><br>
    <div class="jumbotron" style="background-color: #DDDDEE;">
        <h3 style="text-align: center;"><strong>Community structure</strong></h3><br><br>
        <h4 style="margin: 0px; padding: 0px; text-align: center">Rating distribution</h4>
        <br>
        <br>
        <span id='general_graph' style="height: 500px; width: 700px" class="row center"></span>
        <script type='text/javascript'>
            var graphs = {{general | safe}};
            Plotly.plot('general_graph',graphs,{});
        </script>
        <br>
        <br><br>
        <h5 style="text-align: center;"> <u> From the distribution:</u> </h5>
        <br>
        <div class="row" id="Community structure">
            <div class="col graph">
                <h6 style="text-align: center;">Pie chart form:</h6>
                <span id='ratings_pie_chart' style="height:500px; width: 500px" class="row center"></span>
                <script type='text/javascript'>
                    var graphs = {{rating_pie | safe}};
                    Plotly.plot('ratings_pie_chart',graphs,{});
                </script>
            </div>
            <div class="col center">
                <h6 style="text-align: center;">Chart analysis:</h6><br>
                <p>- There are <b>{{sum}}</b> NRF rated researchers currently partaking in Artificial intelligence research in South africa.</p>
                <p >- They are distributed across <b>5</b> categories, and according to the NRF these are: <br>
                    &emsp; - <b>A</b> – Leading international researchers <br>
                    &emsp; - <b>B</b> – Internationally acclaimed researchers <br>
                    &emsp; - <b>C</b> – Established researchers <br>
                    &emsp; - <b>P</b> – Prestigious Awards <br>
                    &emsp; - <b>Y</b> – Promising young researchers <br>
                </p>
                <p>- Of those <b> {{sum}} </b> researchers: <br>
                    &emsp; - There are <b>{{ratings[0]}}</b> A-rated researcher(s) (approx {{rating_p[0]}}%)<br>
                    &emsp; - <b>{{ratings[1]}}</b> B-rated researcher(s) (approx {{rating_p[1]}}%) <br>
                    &emsp; - <b>{{ratings[2]}}</b> C– rated researcher(s) (approx {{rating_p[2]}}%)<br>
                    &emsp; - <b>{{ratings[3]}}</b> P-rated researcher(s) (approx {{rating_p[3]}}%)<br>
                    &emsp; - and <b>{{ratings[4]}}</b> Y-rated researcher(s) (approx {{rating_p[4]}}%)<br>
                </p>
                <p>
                    - The majority of researchers lie within the <b>{{max_r}}</b> category, representing approx <b>{{max}}%</b> of the researchers.<br>
                    - The least represented category is the <b>{{min_r}}</b> category with <b>1</b> researcher(s) approx <b>{{min}}%</b> of the researchers.
                </p>
            </div>
        </div>
        <br><br><br>
            <h4 style="margin: 0px; padding: 0px; text-align: center"> Distribution by institution</h4>
            <br>
            <br>
    <div class="row">
        <div class="col col-8" style="width: 1500px">
            <span id='institution_graph' style="height: 550px; width: 865px"></span>
            <script type='text/javascript'>
                var graphs = {{institution | safe}};
                Plotly.plot('institution_graph',graphs,{});
            </script>
        </div>
        <div class="col col-4" style="width: 400px">
            <h5> <u>Top 10 most research intensive institutions:</u></h5>
            <ol>
                {% for option in institutions %}
                    <li>{{option}}</li> <br>
                {% endfor %}
            </ol>
        </div>
    </div>
        <br><br>
        <div>
            <h4 style="text-align: center;"> A Deeper Dive Into The Top 5 Institutions</h4><br><br>
            <span id='primary_research_top_5_chart' style="height: 600px; width: 1000px;" class="row center"></span>
            <script type='text/javascript'>
                var graphs = {{researcher_primary | safe}};
                Plotly.plot('primary_research_top_5_chart',graphs,{});
            </script>
            <br>
            <br>
            <div class="row">
                <div id='pie_top_5_insti' style="width=800px; align: center; margin: 15px 25%"></div>
                <script type='text/javascript'>
                var graphs = {{pie_top_5_inst | safe}};
                Plotly.plot('pie_top_5_insti',graphs,{});
                </script>
                <div class="col"></div>
            </div>

        </div>
    </div>


<!--    Specialization distribution graph section-->


    <div class="jumbotron" style="background-color: #FFFFFF;">
        <h3 style="text-align: center;">Community Activity</h3><br><br>
        <span id='spec_graph' style="height: 600px; width: 1000px;" class="row center"></span>
        <script type='text/javascript'>
            var graphs = {{specialization_dist | safe}};
            Plotly.plot('spec_graph',graphs,{});
        </script>
    </div>

<!-- Graphing by specialization section   -->


    <div class="row">
    <div class="jumbotron col" style="background-color: white; width: 500px; float: right; ">
        <div style="width: 200px;">
         <label class="form-control" style="width: 500px;  margin: 0px 400px;"> AI Specializations</label>
         <select name="Rating" style="width: 500px;  margin: 0px 400px;" id="input_rating" onchange="topic_callback(this.value); filter(7, this.value,
          this.id)" onload="filter(7, this.value, this.id)">
          {% for option in topics %}
            <option value="{{option}}" style="width:150px">{{option}}</option>
          {% endfor %}
          </select>

        </div>
        <br><br><br>
        <div id='topic_graph' style="height: 500px; width: 1000px; margin: 0px 160px;">
            <script type='text/javascript'>
                var graphs = {{ratings_per_topic | safe}};
                Plotly.newPlot('topic_graph',graphs,{});
            </script>
        </div>
        <table class="table"  id="ResearchersTable" style="height: 400px; width: 100%; align: center;">
            <thead class="thead-dark" style="position: sticky;">
                <th>Surname(s)</th>
                <th>Initials</th>
                <th>Title</th>
                <th>Institution</th>
                <th>Rating</th>
                <th>Primary Research</th>
                <th>Secondary Research</th>
                <th>Specializations)</th>
            </thead>

        {% for row in rows %}
        <tr>
              <td><a href={{'/researcher_'+row["id"]|string}}>{{row["surname"]}}</a></td>
              <td>{{row["initials"]}}</td>
              <td>{{row["title"]}}</td>
              <td><a href={{'/inst_'+row["institution"].replace(' ','+')}}>{{row["institution"]}}</a></td>
              <td>{{row["rating"]}}</td>
              <td>{{row["primaryResearch"]}}</td>
              <td>{{row["secondaryResearch"]}}</td>
              <td>{{row["Specializations"]}}</td>

        </tr>
        {% endfor %}
    </table>
    </div>
    </div>

</div>
{%endblock %}